/* home 공통 css */
@import url('//mcard1.bojagicard.com/font/SeoulHangang.css');
@import url('//mcard1.bojagicard.com/font/SeoulHangangJungL.css');
@import url('//cdn.jsdelivr.net/font-spoqa-han-sans/2.1.0/css/SpoqaHanSans-kr.css');
body {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a, body, ul, li, div, span, table, tbody, tr, th, td, form, input, textarea, select, button {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    font-family: 'SeoulHangangJungL'
}


/* ====================================== 전 테마 공통 ========================================== */
/* 메인 설정 아이콘 */
.home_settiong_wrapper {
    height: 35px;
    width: 60px;
    border-radius: 10px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 10;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 5px;
    opacity: 0;
}
.home_settiong_btn {
    height: 51px;
    background-image: url('img/icon_setting_btn.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 47px 51px;
    cursor: pointer;
    font-size: 12px;
    padding-left: 31px;
}
#photo_view_slide_left_button {
    padding-left: 10px;
}
#photo_view_slide_right_button {
    padding-right: 10px;
}

.setting_fade.on {
    opacity: 1;
    animation: setting_ani 1s ease 2;
    text-shadow: 1px 1px 18px #ffffff ;
    color: #ffffff;
}
@keyframes setting_ani {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* ============= 연락처, 계좌 block border ============= */
.family_group_block_a {
    border: 0px solid transparent;
}
.family_group_block_b {
    border: 0px solid transparent;
}
.bank_family_group_block_a {
    border: 0px solid transparent;
}
.bank_family_group_block_b {
    border: 0px solid transparent;
}

/* =============  초대인사말 ============= */

.insa_text {
    line-height: 24px;
    margin-bottom: 30px;
}
#insa_family_tbl {
    border-spacing: 0 10px;
}
.insa_parent_block {
    padding-right: 5px;
}
.insa_parent_block div {
    line-height: 20px;
}
.insa_rel_block, .insa_ord_block {
    padding-left: 5px;
    padding-right: 5px;
}
.insa_ord_block {
    text-align: center;
}


/* =============  축하연락처  ============= */


/* =============  갤러리 A타입 ============= */
.photo_view_heart_button {
    width: 21px;
    height: 21px;
    background-image: url('img/photo_view-icon_heart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px;
}
.photo_view_heart_button.on {
    width: 21px;
    height: 21px;
    background-image: url('img/icon_heart_red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px;
}
/* =============  갤러리 B타입 ============= */
.notScroll {
    overflow: hidden;

}
.photo_pop_relative {
    position: relative;
}
#photo_pic_pop_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 21;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.photo_pop_swiper_wrapper .swiper-slide {
}
.photo_pop_img_wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.photo_pop_img {
    box-sizing: border-box;
    opacity: 0.01;
}
.pop_bg_layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    display: none;
}
.pop_close_btn_wrap {
    opacity: 0.01;
    background-color: #f5f5f7;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.pop_close_btn {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.pop_close_btn:before {
    content: '';
    background-color: #9598a0;
    width: 1px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pop_close_btn:after {
    content: '';
    background-color: #9598a0;
    width: 30px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.photo_pop_img_wrapper {
    width: 100%;
    text-align: center;
}

/* ============= 오시는길 ============= */

.map_text_row:not(:last-child) {
    margin-bottom: 30px;
}
.map_img_zoom_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 33px;
}
.map_object {
    display: none;
}
.map_object:first-of-type {
    display: block;
}
.map_view_img {
    width: 100%;
    background-color: #ffffff;
}

.map_lock_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:2;
}
.map_lock_img_wrapper {
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 0px;
    position: relative;
}
.map_lock_img {
    position: absolute;
    top: 20px;
    right: 0;
    opacity: 0.8;
    height: 35px;
}

/* =============  사진갤러리 ============= */


/* 갤러리 A타입 포토 댓글 */
.reply {
    overflow: hidden;
}
.reply_photo {
    background-image: url('img/guest_icon_reply.png');
    background-repeat: no-repeat;
    background-size: 9px 11px;
    background-position: top left 15px;
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 20px;

}
.reply_photo div {
    border: none;
    background: none;
    font-family: 'Nanum Barun Gothic';
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.reply_photo .msg_block_top_photo {
    display: inline-block;
}
.reply_photo .msg_button_block_photo div {
    background: none;
}
.msg_reply_guest {
    color: #333333;
}
.msg_reply_guest .msg_button  {
    background: none;
}
.msg_text_block_photo div {
    border: none;
}
.msg_text_block_photo .heart {
    display: none;
}
.reply_photo .msg_date_photo {
    font-size: 11px;
    color: #bbbbbb;
    line-height: 28px;
    font-weight: normal;
}
.reply_photo .msg_button_photo {
    background: none;
    color: #bbbbbb;
    font-weight: normal;
    font-size: 11px;
    margin-left: 15px;
}
.reply_photo .msg_block_bottom_photo {
    width: 100%;
    display: flex;
    align-items: center;
}
.reply_photo .msg_name_photo {
    font-weight: bold;
    color: #555555;
    font-size: 14px;
    padding-right: 5px;
    color: #666666;
    font-size: 13px;
    display: inline-block;
    line-height: 20px;
}
.msg_memo_photo {
    line-height: 20px;
}
.msg_reply_guest .heart  {
    display: none;
}
.msg_writer_row_photo .msg_date {
    display: none;
}
/* ============== 오시는길 =============== */

/* 내비버튼 클릭시 설치 안내 버튼 */
.inss {
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    color: #333333;
    font-family: 'Nanum Barun Gothic';
    font-size: 12px;
    text-align: center;
}
.inss a {
    color: #333333;
    font-family: 'Nanum Barun Gothic';
}

/* =============  축하메시지 ============= */


/* 하단 네비게이션 공통 스타일 */
.guest_partition {
    margin-left: 35px;
    margin-right: 35px;
}
.guest_navigation_wrapper {
    margin-left: 35px;
    margin-right: 35px;
}
.guest_more_btn {
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 33px;
    margin-right: 33px;
    padding: 10px;
    text-align: center;
}
/* 축하메시지 없을 때 이모티콘 */
.guest_row_total_wrapper {
    height: 220px;
    text-align: center;
}
.guest_row_total_img {
    margin-top: 70px;
}
.guest_row_total_txt {
    font-size: 13px;
    color: #999999;
    margin-top: 15px;
}

/* =============  섹션별 폰트 사이즈 =============  */

.section_header {
    font-size: 12px;
}
.section_title {
    font-size: 20px;
}

/* 초대인사말 */
.insa_text, #insa_family_tbl td, #insa_family_tbl td span {
    font-size: 14px;
}
/* 축하연락처 */
.name_block, .name_block > span {
    font-size: 13px;
}
#insa_family_tbl td span, #insa_family_tbl td div {
    white-space: pre;
}

/* 달력 */
.calendar_title li > span {
    font-size: 20px;
}
.calendar_ym {
    font-size: 18px;
}
.calendar th, .calendar .dday > span {
    font-size: 12px;
}
.calendar td > span {
    font-size: 13px;
}

/* 갤러리 */
.photo_row {
    font-size: 12px;
}
.photo_counter_num, .photo_counter_txt {
    font-size: 14px;
}
#photo_more_row span {
    font-size: 13px;
    line-height: 45px;
}
.photo_view_img_wrapper > img {
    width: 100%;
}
#photo_thmb_wrapper {
    overflow: hidden;
}
#prod_banner1_top > div {
    font-family: 'Nanum Barun Gothic';
}
.list1_prod_banner1_bottom {
    margin-bottom: 20px;
}
.list2_prod_banner1_bottom {
    margin-bottom: 0;
}
.photo_pop_img {
    width: 100%;
}

/* 테마 1-3 레드 */
/*
    폰트 색상 공통 적용
                        */
/* 공통 */
.section_title > li,
    /* 인사 */
.insa_text, #insa_family_tbl td, #insa_family_tbl td span,
    /* 축하연락처 */
.name_block,
    /* 달력 */
.calendar_ym, .calendar td,
    /* 갤러리 */
.photo_more_btn, .sub_title, #photo_more_row span,
    /* 안내사항 */
.notice_text,
    /* 오시는길 */
.section_desc, .map_address > div, .map_navi_button, .map_address a,
    /* 계좌 */
.bank_txt_view_btn > span,
    /* 축하화환 */
.flower_wreath_wrapper > div, .aff_banner > div,
    /* 축하메시지*/
.msg_button, .msg_memo_guest, .msg_name > div, .guest_navigation_wrapper > div
    /* 소식공유 */
.share_bottom > div {
    color: #333333;
}
/*
    섹션 공통
                */
.section {
    background-color: #f9f8f6;
}
.section:nth-child(odd) {
    background-color: #ffffff;
}
.section_header {
    border-bottom: 1px solid #7f838e;
}
.section_header > div {
    color: #80848f;
}
/*
    초대 인사말
                */

/*
    축하연락처
                */
.contact_inner {
    border: 1px solid #82828c;
}

.contact_row {
    border-bottom:1px solid #82828c;
}
/* 아이콘 */
.contact_tel_img {
    background: url('./img/icon_contact_t1c3_tel.png') ;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 15px 16px;
}
.contact_msg_img {
    background: url('./img/icon_contact_t1c3_msg.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 16px 15px;
}
/*
    3. 달력
               */
.calendar_section {
    background-image: url('./img/img_calendar_t1c1_bg.jpg');
    background-color: #fdf8f4;
    background-position: center 15%;
    background-repeat: no-repeat;
    background-size: 600px 600px;
}
.calendar_inner {
    background-color: #ffffff;
}
/* 달력 년,월 타이틀*/
.calendar_ym {
    color: #333333;
}
/* 요일 */
.calendar th {
    color: #7f818d;
}
/* 날짜 */
.calendar .dday > span{
    background-color: #c6b3b7;
    color: #ffffff;
}
/*
    갤러리
             */

/* 사진 리스트 */
.photo_row {
    background-color: #f8f8f8;
}
/* B타입 갤러리 배경 */
#photo_view_wrapper {
    background-color: #ffffff;
}
/* 갤러리 Atype */
#photo_more_row {
    border: 1px solid #80838a;
}
#movie_pagination .swiper-pagination-bullet-active {
    background-color: #c8b5b9;
}
/*
    5. 오시는길
                 */
/* 장소, 주소 */
.map_address > div:first-child {
    text-decoration-color: #797979;
}
/* 전화문의 버튼 */
.tel_ask_btn {
    background-color: #c8b5b9;
    background-image: url('../img/icon_contact_white_tel.png');
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: auto 14px;
    color: #ffffff;
    border: none;
}
/* tab menu button */
.mcard_button2 {
    background-color: #f5f5f7;
    color: #7f838c;
}
.mcard_button2_on {
    background-color: #e2d7db;
    color: #ffffff;
}
/* navi button */
.map_navi_button > a {
    background-color: #eeeeee;
    border: 1px solid transparent;
}
/*
    6. 안내사항
                 */
.notice_row_no {
    color: #e3d7db;
}
/*
    7. 축하의마음전하기(계좌)
                               */
/* 계좌 팝업*/
#bank_popup {
    background-color: white;
}
.bank_family_group_block {
    border: 1px solid #80838a;
}
.bank_family_group_block > li {
    border-bottom: 1px solid #80838a;
}
.section_desc {
    color: #323232;
}
.bank_txt_notice {
    color: #777777;
}
.bank_txt_view_btn {
    border-left: 1px solid #82828c;
}
.family_members {
    border-bottom: 1px solid #82828c;
}

/*
    7-1. 화환배송
                    */

.flower_wreath_wrapper > a > div {  /* 화환신청버튼 */
    border: 1px solid #ffd4cf;
}
/*
    8. 축하 메시지
                      */
.msg_name {
    color: #000000;
}
.msg_date {
    color: #777777;
}
.msg_button {
    background-color: transparent;
    color: #7e828b;
    border: 1px solid #ced2db;
}
.reply_guest {
    background-color: #ffffff;
}
.reply_guest .msg_button {
    background-color: transparent;
}
.msg_memo {
    color: #666666;
}
.guest_msg_memo {
    color: #333333;
}
.msg_icon_wrapper {
    background-image: url('./img/guest_emo_bg.png');
    background-size: 45px 45px;
}

/* 댓글 아이콘 */
.guest_article_icon1 {
    background-color: transparent;
    box-shadow: inset 2px 2px 0 0 #c8b5b9;
}
.guest_article_icon1:after {
    border-radius: 50%;
    background-color: #c8b5b9;
}
.guest_article_icon2 {
    background-color: transparent;
    box-shadow: inset 2px 2px 0 0 #c8b5b9;
}
.guest_article_icon2:after {
    background-color: #c8b5b9;
}

/* 축하메시지 하단 구분선*/
.guest_partition {
    border-bottom: 1px solid #ced2db;
}
.guest_navigation_wrapper > div {
    color: #7f838e;
}
/* 더보기 버튼*/
.guest_more_btn {
    background-color: #c8b5b9;
    color: #ffffff;
}
/*
    9. sns 소식공유
                      */
.share_sns_btn {
    background-image: url('img/icon_sns_t1c3_kakao.png');
    background-repeat: no-repeat;
    background-size: 35px;
}
.share_kakaostory_btn {
    background-image: url('img/icon_sns_t1c3_story.png');
}
.share_line_btn {
    background-image: url('img/icon_sns_t1c3_line.png');
}
.share_facebook_btn {
    background-image: url('img/icon_sns_t1c3_facebook.png');
}
.share_bottom > div:first-child:before {
    content: 'Thank you!';
}
.share_bottom .heart:before {
    background-color:#212530;

}
.share_bottom .heart:after {
    background-color:#212530;
}
/*
   하트 아이콘
               */
.heart:before{
    background-color: #c08cc2;
}
.heart:after {
    background-color: #c08cc2;
}


/*
    숨김 처리
                */

.day_title_date, .calendar_title {
    display: none;
}


@import url('//mcard1.bojagicard.com/font/SeoulHangang.css');
@import url('//mcard1.bojagicard.com/font/SeoulHangangJungL.css');
@import url('//cdn.jsdelivr.net/font-spoqa-han-sans/2.1.0/css/SpoqaHanSans-kr.css');
body {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a, body, ul, li, div, span, table, tbody, tr, th, td, form, input, textarea, select, button {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    font-family: 'SeoulHangangJungL'
}
/*
    폰트 색상 공통 적용
                        */
/* 공통 */
.section_title > li,
    /* 인사 */
.insa_text, #insa_family_tbl td, #insa_family_tbl td span,
    /* 축하연락처 */
.name_block,
    /* 달력 */
.calendar_ym, .calendar td,
    /* 갤러리 */
.photo_more_btn, .sub_title, #photo_more_row span,
    /* 안내사항 */
.notice_text,
    /* 오시는길 */
.section_desc, .map_address > div,
    /* 계좌 */
.bank_txt_view_btn > span,
    /* 축하화환 */
.flower_wreath_wrapper > div, .aff_banner > div,
    /* 축하메시지*/
.msg_button, .guest_msg_memo, .msg_name > div, .guest_navigation_wrapper > div
    /* 소식공유 */
.share_bottom > div {
    color: #333333;
}

/*
    섹션 공통
                */
.section {
    padding-bottom: 64px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    background-color: transparent;
}
.section:nth-child(odd) {
    background-color: transparent;
}
.section_header {
    border-bottom: 1px solid #7f838c;
    display: flex;
    font-style: italic;
    justify-content: space-between;
    padding-bottom: 14px;
}
.section_header > div {
    color: #7f838c;
}
.section_title {
    font-weight: 500;
    padding-bottom: 50px;
    padding-top: 60px;
    text-align: center;
}
/*
    초대 인사말
                */
.insa_text {
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
}
#insa_family_tbl {
    margin: 0 auto;
    border-spacing: 0 10px;
}
.insa_parent_block {
    padding-right: 5px;
    text-align: right;
}
.insa_rel_block, .insa_ord_block {
    padding-left: 5px;
    padding-right: 5px;
}
.insa_self_block span {
    font-weight: bold;
}

/*
    축하연락처
                */
.contact_inner {
    border: 1px solid #80838a;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.contact_inner:last-child {
    margin-bottom: 0;
}
.contact_row {
    border-bottom:1px solid #80838a;
    display: flex;
}
.contact_row li {
    height: 43px;
    display: inline-block;
    line-height: 43px;
}
.contact_row li:first-child {
    width: 65%;
    padding-left: 18px;
}
.contact_row:last-child {
    border: none;
}
/* 아이콘 */
.contact_icon_block {
    height: 43px;
    width: 15%;
    padding-right: 20px;
    cursor: pointer;
    display: inline-block;
}

.contact_tel_img {
    background: url('./img/icon_contact_t1c1_tel.png') ;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px;
}
.contact_msg_img {
    background: url('./img/icon_contact_t1c1_msg.png');
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: 18px;
}
/*
    3. 달력
               */
.calendar_section {
    background-image: url('./img/img_calendar_t1c1_bg.jpg');
    background-color: #fdf8f4;
    background-position: center 15%;
    background-repeat: no-repeat;
    background-size: 600px 600px;
}
.calendar_title {
    padding-bottom: 0px;
    padding-top: 46px;
}

.calendar_title_hide, .calendar_title li:last-child {
    display: none;
}
#calendar_row .section_header {
    border: none;
}
.calendar_inner {
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-top: 45px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    border-radius: 10px;
}
/* 달력 년,월 타이틀*/
.calendar_ym {
    color: #333333;
    font-weight: 400;
    margin-bottom: 14px;
    text-align: center;
}
table.calendar {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
}
.calendar th, .calendar td {
    height: 36px;
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    text-align: center;
    word-break: break-all;
}
/* 요일 */
.calendar th {
    color: #7f838c;
}
/* 날짜 */
.calendar td > span {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
}
.calendar .dday > span{
    height: 25px;
    width: 25px;
    background-color: #e7b596;
    border-radius: 50%;
    color: #333333;
    display: inline-block;
    line-height: 25px;
    text-align: center;
}
/*
    갤러리
             */

/* 갤러리 여백 재설정 */
#photo_section {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px;
}
#photo_section .section_header{
    margin-left: 35px;
    margin-right: 35px;
}
.photo_block {
    padding-left: 35px;
    padding-right: 35px;
}
/* 사진 리스트 */
.photo_list {
    font-size: 0;
}
.photo_row {
    height: 140px;
    width: calc(100% / 2 - 8px);
    background-color: #f8f8f8;
    display: inline-block;
    line-height: 140px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
}
.photo_row:nth-child(even){
    margin-right: 0;
}
.photo_row > img{
    height: 140px;
    width: 140px;
}
/* -- 갤러리 Atype 슬라이드 --*/
.photo_section_body {
    padding-left: 35px;
    padding-right: 35px;
}
#photo_counter {
    text-align: center;
    margin-bottom: 20px;
}

#photo_counter > li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.photo_counter_num {
    font-family: arial;
    font-weight: bold;
}

.photo_counter_txt {
    color: #777777;
    margin-top: 4px;
}
/* 더보기 버튼 */
#photo_more_row {
    height: 45px;
    width: 100%;
    border: 1px solid #a7adbb;
    text-align: center;
}
#photo_more_row span {
    color: #333333;
    line-height: 45px;
}
/* -- 갤러리 Btype 슬라이드 -- */
/* 선택한 사진 영역 */

.photo_body_wrapper {
    position: relative;
}
.photo_body_wrapper div {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
#photo_view_wrapper {
    overflow: hidden;
    margin-left: 35px;
    margin-right: 35px;
    background-color: transparent;
    height: 100%;
}
#photo_view_swiper-container {
    width: 100%;
    text-align: center;
}

#photo_view_swiper-container .swiper-wrapper {
    width: 100%;
    align-items: center;
}
#photo_view_img {
    max-width: 100%;
    max-height: 292px;
}
#photo_view_btn_row {
    display: none;
}
#photo_view_btn_row {
    width: 100%;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
}
/* 네비게이션 버튼 */
#photo_view_prev_btn {
    position: absolute;
    height:23px;
    width:23px;
    border-top:1px solid #81818b;;
    border-left: 1px solid #81818b;
    transform: rotate(-45deg);
    text-indent: -99999px;
    left: 50px;
}

#photo_view_next_btn {
    position: absolute;
    height:23px;
    width:23px;
    border-bottom:1px solid #81818b;
    border-right: 1px solid #81818b;
    transform:rotate(-45deg);
    text-indent: -99999px;
    right: 50px;
}
/* 슬라이드 서브타이틀 */
.photo_view_sub_title {
    width: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 18px;
    margin-top: 15px;
}
/* 사진 썸네일 리스트 */
#photo_thmb_wrapper {
    text-align: center;
    margin-top: 30px;
}
#photo_thmb_swiper-container {
    width: 100%;
}
#photo_thmb_swiper-container .swiper-slide {
    width: 100%;
}
.photo_thmb_thm_img {
    width: 54px;
    height: 54px;
    margin-right: 10px;
    z-index: 1;
}
.photo_thmb_thm_img:last-child {
    margin-right: 0;
}
#photo_thmb_swiper-pagination {
    margin-top: 15px;
}
#photo_thmb_swiper-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
}
#photo_thmb_swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffd6d7;
    border:none;
}
/* 웨딩 무비 */
.sub_title {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 47px;
    text-align: center;
}
.swiper-container {
    width: 100%;
    height: auto;
}
#movie_pagination {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
#movie_pagination .swiper-pagination-bullet {
    height: 7px;
    width: 7px;
    margin-right: 7px;
}
#movie_pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}
#movie_pagination .swiper-pagination-bullet-active {
    background-color: #e7b596;
    border: none;
}

/* 모바일영상 무료만들기 */
#photo_movie_banner {
    background-color: #edf2fc;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
#photo_movie_banner_title {
    color: #5674b9;
    font-size: 14px;
    margin-bottom: 12px;
}
#photo_movie_banner_button {
    border: 1px solid #cfd9ec;
    border-radius: 20px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
/*
    5. 오시는길
                 */
.map_address {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
}
.map_address > div:first-child {
    text-decoration: underline;
    text-decoration-color: #797979;
    text-underline-offset: 3.5px;
}
/* 전화문의 버튼 */
.tel_ask_btn {
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: transparent;
    background-image: url('./img/icon_contact_t5c1_tel.png');
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: auto 15px;
    border-radius: 15px;
    border: 1px solid transparent;
    color: #343d46;
    font-size:14px;
    line-height: 31px;
    margin: auto;
    margin-top: 10px;
    padding-left: 22px;
}
/* tab menu button */
.mcard_button2_row {
    height: 36px;
    margin-top: 50px;
    line-height: 36px;
}
.mcard_button2 {
    width: 50%;
    background-color: #f5f5f7;
    color: #7f838c;
    cursor: pointer;
    float: left;
    font-size: 16px;
    text-align: center;
}
.mcard_button2_on {
    background-color: #605ca8;
    color: #ffffff;
}
#map_img {
    width: 100%;
}
/* navi button */
.map_navi_button_row {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
}
.map_navi_button {
    display: inline-block;
    font-size: 12px;
    margin-right: 18px;
}
.map_navi_button > a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius:50%;
    border: 1px solid transparent;
    /* background-color: #fdf8f4; 섹션배경 흰색*/
    text-align: center;
    padding-top: 8px;
}
.map_navi_button > a img {
    height: 21px;
    width: auto;
}
.map_navi_button:last-of-type {
    margin-right: 0;
}
#map_text {
    font-size: 14px;
    line-height: 24px;
    margin-top: 47px;
    text-align: center;
    padding-bottom: 20px;
    padding-left:25px;
    padding-right: 25px;
    letter-spacing: -0.5px;
}
.map_frame {
    width:100%;
    display: block;
    overflow: hidden;
}
.map_config_icon_wrap {
    position: absolute;
    left: 25px;
    bottom: 30px;
    cursor: pointer;
    z-index: 2;
}
#map_config_icon_btn {
    width: 28px;
    height: 28px;
}
/*
    6. 안내사항
                 */
.notice_row_wrapper {

}
.notice_row {
    display:flex;
    margin-bottom: 25px;
}
.notice_txt_wrapper {
    margin-left: 10px;
    width: 100%;
}
.notice_txt_wrapper div {
    font-size: 12px;
}
.notice_row_no {
    width: 20%;
    color: #e5d3c5;
    font-size: 42px;
    font-style: italic;
    margin-top: -7px;
}
.notice_row_txt_title {
    padding-bottom: 3px;
}
.notice_row_txt {
    line-height: 20px;
    word-break: break-all;
}
/*
    7. 축하의마음전하기(계좌)
                               */
/* 계좌 팝업*/
#bank_popup {
    width: 80%;
    background-color: white;
    display: none;
    font-size: 14px;
    position: fixed;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    z-index: 10;
}
#bank_pop_title {
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
}
#bank_pop_notice {
    margin-top: 20px;
    text-align: center;
}
#bank_pop_txts {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#bank_pop_btns > div {
    height: 42px;
    line-height: 38px;
}
#bank_popup .bank_family_group_block {
    margin-bottom: -20px;
}
/* 계좌 레이아웃  */
.bank_title {
    padding-bottom: 15px;
}
.bank_family_group_block {
    border: 1px solid #82828a;
    margin-bottom: 15px;
}
.bank_family_group_block > li {
    height: 43px;
    border-bottom: 1px solid #82828a;
    font-size: 14px;
    letter-spacing:1px;
    line-height: 43px;
    padding-left: 15px;
}
.bank_family_group_block > li:last-child {
    border: none;
}
.section_desc {
    color: #333333;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 46px;
    text-align: center;
}
.bank_txt {
    cursor: pointer;
}
.bank_txt_num {
    margin-top: 6px;
}
.bank_txt_notice {
    color: #777777;
    font-size: 11px;
    text-align: right;
}
.bank_txt_view_btn {
    cursor: pointer;
    font-size: 15px;
    border-left: 1px solid #80838a;
    padding-left: 8px;
    padding-right: 8px;
}
.bank_txt_view_btn > span {
    font-size: 15px;
}
.family_members {
    height: 42px;
    border-bottom: 1px solid #80838a;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    line-height: 42px;
    padding-left: 12px;
}

.family_members:last-child {
    border: none;
}

/*
    7-1. 화환배송
                    */
#flower_wreath_row {
    padding-bottom: 55px;
}
.flower_wreath_wrapper > div {
    text-align: center;
    line-height: auto;
    position: relative;
    border: 0px solid red;
}
.flower_wreath_wrapper > div:first-child {
    height: 50px;
}
.flower_wreath_wrapper > div:nth-child(2) {
    font-size: 13px;
    line-height: 22px;
    margin-top: 8px;
}
.flower_wreath_wrapper > a > div {  /* 화환신청버튼 */
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    cursor: pointer;
    font-size: 13px;
    border: 1px solid #ffd4cf;
    border-radius: 18px;
    height: 38px;
    line-height: 36px;
    width: 150px;
    margin: auto;
    margin-top: 8px;
    text-align: center;
}
#flower_wreath_btn_off {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
/*
    8. 축하 메시지
                      */
#guest_section {
    padding-left: 0;
    padding-right: 0;
}
#guest_section .section_header, .guest_title {
    margin-left: 35px;
    margin-right: 35px;
}
.guest_title {
    padding-bottom: 0;
}
.guest-swiper-container .swiper-slide {
    padding-left: 35px;
    padding-right: 35px;
}
.article_row {
    text-align: center;
}
.msg_name, .msg_date {
    display: inline-block;
    margin-top: 30px;
}
.msg_name {
    color: #000000;
    font-size: 15px;
}
.msg_date {
    color: #777777;
    font-size: 13px;
    margin-left: 15px;
}
.msg_button {
    height: 28px;
    width: 66px;
    background-color: #e7b596;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 12px;
    outline: none;
}
.reply_guest {
    background-color: #ffffff;
    clear: both;
    margin-top: 20px;
    padding-bottom: 20px;
}
.reply_guest .msg_name, .reply .msg_date {
    margin-top: 15px;
}

.reply_guest .msg_button {
    background-color: #f0d0bc;
}
.msg_memo {
    color: #666666;
    display: inline-block;
    font-size: 13px;
    hyphens: auto;
    line-height: 18px;
    margin-left: 5px;
    padding-top: 8px;
    word-break: break-all;
}
.msg_memo_guest {
    clear: both;
    color: #333333;
    font-size: 15px;
    line-height: 24px;
    margin-top: 12px;
    text-align: center;
    word-break: break-all;
}
.guest_article {
    position: relative;
}
.msg_icon_wrapper {
    height: 45px;
    width: 45px;
    background-image: url('./img/guest_emo_bg.png');
    background-size: 45px 45px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    position: relative;
}
.msg_icon_img {
    height: 23px;
    width: 24px;
    left: 11px;
    position: absolute;
    top: 11px;
}

/* 댓글 아이콘 */
.msg_text_block .heart, .reply .heart {
    display: none;
}
.guest_article_icon_wrapper {
    margin-top: 48px;
}
.guest_article_icon1 {
    display: inline-block;
    height: 12px;
    width: 16px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 2px 2px 0 0 #93867d;
    position: relative;
    transform: rotate(-50deg);
    text-align: left;
}
.guest_article_icon1:after {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #93867d;
    position: absolute;
    bottom: 0px; left: -1px;
}
.guest_article_icon2 {
    display: inline-block;
    height: 12px;
    width: 16px;
    border-radius: 50%;
    background: transparent;
    box-shadow: inset 2px 2px 0 0 #93867d;
    position: relative;
    transform: rotate(-50deg);
    margin-left: -4px;
}
.guest_article_icon2:after {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #93867d;
    position: absolute;
    bottom: 0px; left: -1px;
}

/* 축하메시지 하단 구분선*/
.guest_partition {
    border-bottom: 1px solid #ded0c5;
    margin-top: 48px;
    margin-bottom:20px;
}
.guest_navigation_wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.guest_navigation_wrapper > div {
    color: #544741;
}
.guest_paging_count, .guest_paging_count > span {
    font-size: 12px;
}
.guest_row_total_wrapper {
    height: 220px;
    text-align: center;
}
.guest_row_total_img {
    margin-top: 70px;
}
.guest_row_total_txt {
    font-size: 13px;
    color: #999999;
    margin-top: 15px;
}
.guest_prev_btn, .guest_next_btn {
    width: 10px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 10px 20px;
    cursor:pointer;
}
.guest_prev_btn {
    background-image: url('img/btn_prev_arrow.png');
}
.guest_next_btn {
    background-image: url('img/btn_next_arrow.png');
}
.guest_paging_count > span {
    display: inline-block;
    font-size: 14px;
    padding-right: 5px;
}
.guest_paging_count > span:last-child {
    padding-right: 0;
}
/* 더보기 버튼 */
.guest_more_btn {
    margin-top: 50px;
}
/*
    9. sns 소식공유
                      */
#share_section {
    padding-top: 0;
}
.share_sns_row {
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.share_sns_btn {
    height: 35px;
    width: 35px;
    font-size: 12px;
    background-image: url('img/icon_sns_t1c1_kakao.png');
    background-repeat: no-repeat;
    background-size: 35px;
    cursor: pointer;
    margin-right: 33px;
}
.share_sns_btn:last-child{
    margin-right: 0;
}
.share_kakaostory_btn {
    background-image: url('img/icon_sns_t1c1_story.png');
}
.share_line_btn {
    background-image: url('img/icon_sns_t1c1_line.png');
}
.share_facebook_btn {
    background-image: url('img/icon_sns_t1c1_facebook.png');
}
.share_bottom {
    width: 100%;
    font-size: 13px;
    font-style: italic;
    padding-top: 30px;
    text-align: center;
}

.share_bottom .heart {
    margin-top: 9px;
}
.share_bottom .heart:before {
    background-color:#524741;
    left:0;
}
.share_bottom .heart:after {
    background-color:#524741;
}
.share_bottom > div:first-child:before {
    content: 'Thank you!';
}
.share_bottom .heart {
    margin-top: 3px;
    margin-bottom: 0;
}
.share_bottom .heart:before {
    background-color:#212530;

}
.share_bottom .heart:after {
    background-color:#212530;
}


/*
    숨김 처리
                */

.day_title_date, .calendar_title {
    display: none;
}

/* 하트 이모티콘 */
.heart {
    height: 15px;
    width: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    position: relative;
}
.heart:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 8px;
    height: 13px;
    border-radius: 50px 50px 0 0;
    background-color: #c08cc2;
    transform: rotate(-48deg);
}
.heart:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 8px;
    height: 13px;
    border-radius: 50px 50px 0 0;
    background-color: #c08cc2;
    transform: rotate(48deg);
}
